body {
  background-color: #e4e4e4;
}

h1 {
  text-align: center;
}

#notes, .preview {
  margin: 0 auto 16px;
  width: 75%;
}

.note, .preview {
  border-radius: 8px;
  padding: 10px;
}

.note {
  border: 8px solid #d4daa7;
  background-color: #fdffb7;
  margin: 16px 0;
}

.preview {
  border: 8px solid #b8ffba;
  background-color: #4caf50;
  box-sizing: border-box;
}

.hide {
  display: none;
}

form {
  text-align: center;
}

input {
  width: 50%;
}

input,
button {
  padding: 10px;
}

button {
  background-color: #0066ff;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
}

button:hover {
  background-color: #0000ff;
  color: white;
  cursor: pointer;
}

button:focus {
  outline: none;
}

#lucky {
  background-color: #33ff55;
}

#lucky:hover {
  background-color: #00ac00;
}

#remove {
  background-color: #ff5555;
}

#remove:hover {
  background-color: #ff0000;
}